* {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular;
   
}
body {
    margin: 0;
    padding: 0;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#website-logo{
    width: 70%;
    
}
/** sub-navigation items**/
/**.menu_icons {
     background-image: url("co_logo/menu_items/android.png");
     height: 24px;
     background-size: 100px;
     width: 26px;
     position: relative;
     top: 5px;
     display: inline-block;
 }  **/

 .menu_icons img {
     width: 30px;
 }
 .menu_icons {
     border-bottom: 2px solid grey;
 }

 .sub-heading-list {
     list-style-type: none;

 }

 .sub-heading-list li {
     margin-bottom: 20px;
     left: 10px;
    
 }
 .sub-heading-list li {
     border-bottom: 2px solid greys;
 }

 .mega-col {
     margin-top: 10px;
     float: left;
 }



 /** Scroll to top **/
 a.scrolltotop {
     display: block;
     border: 1px solid white transparent;
     font-size: 20px;
     height: 50px;
     padding-top: 5px;
     position: fixed;
     right: 65px;
     bottom : 75px;
     text-align: center;
     width: 50px;
     z-index: 1000;
     
    

 }
 /** Scroll to top **/





/** Section 2 **/

.section-2-para {
    margin-top : 45px;
}

.tab-active {
    border-bottom: 3px solid #33ccff;
    background-color: #e6f5fb;
}
.menu-title {
    text-align: center;
    padding: 35px 0;
    -webkit-transition: 0.2s ease;
    cursor: pointer;


    
}


.section_5_box {
   
    
}

.section_5_logo {
  background-color:#33ccff;
  padding : 18px;
  border-radius: 50%;
  border: 2px solid;
  
  margin-top : auto;
  
  position : relative;
  margin-top : -73px;
  margin-bottom: 20px;
  width: 90px;
  

    
}

.section_5_container_box:hover {
    background-color : #3ee0e0;

}

.section_5_container_box {
    background-color: #fff;
    width: 100% ;
    height : max-content;
    padding : 24px 30px;
    border-radius : 5px;
    margin-top : 45px;
    margin-bottom : 20px;
   
    text-align : center;
    -webkit-transition : 0.2s ease;
    box-shadow : 0px 1px 13px -2px;
    
    
}

.section_5_container_box span {
    font-size : 18px;
    font-weight: bold;
    color: #101010;
    position: relative;
    top: -9px;
}
.section_7_box {
    background-color: #fff;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px;
    border-radius: 8px;
    padding-bottom: 1px;
    -webkit-transition : 0.2s ease;


}

.section_7_box:hover {
    background-color :  #3ee0e0;
}

html .heading-dark {
    line-height: 50px;
    font-weight: 700 !important;
    font-family: Montserrat-Light;
    font-size: 29px;
    color: #033 !important;
}

.sec-2-img-div {
    text-align: center;
    padding: 35px 0;
    -webkit-transition: 0.2s ease;
    cursor: pointer;

}

#big-img { 
    height: 100%;
    position: absolute;
    right: 0;


}
#section-6-img {
    float: left;
    height: 500px;
    position: absolute;
    right: -50px;
}
#section-9-img {
    position: absolute;
    right: -50px;
    vertical-align: middle;
}
.section-12 {
    background-image: url(images/testimonial_bg.jpg);
}

.blog-content {
    background-color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.h4-line {
    font-size: 60px;
    color: #e43338 !important;
    margin-left: 5%;
}

.blog-text {
    margin-left: 5%;
}

.h4-bc {
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #033 !important;
    font-family: Montserrat-semibold !important;
}
.mb-sm {
    margin-bottom: 10px !important;
}

.blog-co-link {
    text-decoration: none !important;    
    color : #e43338;
}

#section-13-container {
    padding: 0px;
}
.sub-heading-dark {
    color: #033 !important;
    font-size: 15px;
    font-family: Montserrat-Light;
    font-weight: 700 !important;

}
.sub-title-text {
    font-family: Montserrat-UltraLight !important;
    font-size: 19px !important;
    font-weight: bold;
    text-transform: none !important;
    line-height: 30px !important;
    padding-bottom: 35px;
}
.section {
    padding: 70px;
}

.section-no-border {
    border: 0;
}

.mb-none {
    margin-bottom: 0 !important;
}

.form-control {
    border: none;
    border-bottom: 1px solid #333;
}

.section-4-img {
    margin-bottom: 30px;
}

.section-4-title {
    font-weight: bold;
}

#section-6-button {
    float: left;
    margin-left: 25px;
}
ul.contact {
    margin-top: 5%;
}

#name {
    width: 100%;
    height: 40px;
    display: block;
    font-size: 14px;
    padding-left: 6px;
    border-radius: 0;
    margin : 0 10px 10px 0;
    box-shadow: none !important;
}

.content {
    height: 45px;
    margin-left: 70px;
}

.cell-view {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
}

footer {
    font-family: 'regular', sans-serif, Arial;
    font-size: 14px;
    line-height: 22px;    
    color: #c6cad2;
    background: #153044;
}

.menu-footer-sidebar-2-container li  {
    list-style-type: none;
    border : none !important;
    margin-left: 0 !important;
    width: 100%;
    padding : 7px 0px;
    font-family : Montserrat-Light;
}

.section-2-gd-box {
    text-decoration: none;
}

.blog-button {
    display: block;
    float: right;
    margin-top: 50px;
    position: static
}

.social-icons>ul li {
    display: inline;
    text-decoration: none;
}

.mg-kk {
  
    padding-bottom: 0;
}

.mb-bg {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: MOntserrat-light !important;
}
.container#web_and_full_stack {

    display: block;


}

/* disabled section 2*/
.container#mobility {
    display: none;
}

.container#e-commerce_and_cms{
    display: none;
}

.container#blockchain_and_ml{

    display: none;
}

.container#others {
    display: none;
}

div#cont-2-item-1:hover .container#web_and_full_stack {
    display: block;
}

div#cont-2-item-2 :hover .container#mobility {
    display: block;
}

/* section 2 items */

#lower-footer a {

    text-decoration: none;
    color: white;
}

.footer-entry table td {
    border-bottom: none !important;
    border-top : none !important;
}

td, th {
    padding : 10;
}
td {
    margin: 15px;
}
  
.sec-7-div {
    padding : 20px;
}

#contact-items  li {
    
    list-style-type: none;
}
  
.contact-para {
    display: inline;
    margin-left: 20px;
    color: black;
}
.contact-li {
    margin-bottom: 15px;
}
.social-icons ul a {
    margin-right: 15px;
}

.java_developer_section_1 {
    background-image: url(../bg_img/java_developer.png);
    padding: 50px;
}

#java_section_1_form {
    background-color: #ffff;
    padding: 30px;
    border-radius: 10%;
}

.java_sec_button {
    margin-top: 20px;
    border-radius: 20%;
    
}

label {
    color: gray;
    font-weight: bold;
}

.java-form-control {
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

.java_section_2 {
    background-color: #f4f4f4;

}

.mb-java {
    margin-bottom: 20px !important;
    font-size: 14px !important;
    line-height: 20px;
    color : #022C3E !important;
}


/** section 4 **/
.java_span_h4 {
    font-size: 60px;
    color: #4ba7f4;
}

.java_sec_4_img_div {
    padding-bottom: 20px;
    height: auto;
    float: none;
    margin-left: 10px;
}

.java_sec_4_img_div img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.java_sec_4_img {
    text-indent: -9999px;
    width: 132px;
    height: 62px;
}

.java_sec_4_img_div + div {
    text-align: center;
    font-weight: 600;
}

.java_section_4 {
    background-color: #d6f0fb;
}

/** java section 5 **/

#java_con_5 {
    border-radius: 5px 5px 5px 5px;
    width : 48%;
  

}

.sec-5-clr-div {
    background-color: #40c1ff;
    padding: 6px;
    padding-left: 7px;
    border-radius: 5px 5px 1px 1px;
}

.sec-5-clr-div>div {
    margin-top: 15px;
}

.sec-5-clr-div>div>div {
    clear: both;
    padding-left: 0px;
}

.sec-5-p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.java-sec-5-para {
    color: #022C3E;
    font-size: 15px;
    font-weight: normal;
    margin-top: 45px;
}

.sec-5-clr-div2 {
   
    padding: 6px;
    padding-left: 7px;
    border-radius: 5px 5px 1px 1px;
}

/** Section 6 **/

.java_section_6 {
    background-color: #d6f0fb;
}

.java-bg-1 {
    background-color: #c5eafa;
}
.java-bg-2 {
    background-color: #a5dff7;
}

.java-bg-3 {
    background-color: #84d8fb;

}
.java-bg-4 {
    background-color: #62c7f1;
}

.java-bg-5 {
    background-color: #31b6ee;
}

.java-sec-6-icon img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-indent: -9999px;
    width: 132px;
    height: 62px;
}

.java-sec-6-icon h4 {
    text-align: center;
    font-size: 54px;
    margin-top: 25px;
    font-weight: 600;
}

.java-sec-6-info p {
    text-align: center;
    margin-top: 20px;
    
}

.java-info-p {
    font-weight: 600;
}


/** Section 8 FAQ  **/

.java_section_8 {
    background-color: #f4f4f4;
}

.panel-group .panel-heading .panel-title {
    background-color: #33ccff !important;
}

.panel-group .panel-heading a {
    color: white;    
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}


.java-faq-para {
    color: #022C3E;
    font-size: 15px;
    font-weight: normal;
    margin-top: 45px;
    margin-bottom: 20px;
   
    text-align: left;
   margin-left: 25px;
}

.panel-default {
    background-color: white;
    
    
}



/** for font awesome check-circle icons **/
.fa-check-circle {
 color: #33ccff;
}


/** java developer page**/

.other_service_div p{
    color: black;
  
}

.other_service_div {
    padding-top: 2rem;
}




/** career page**/

.career-position {
    background-color: white;
    border-radius: 15;
    border-top: 4px solid #ccc;
    padding: 2rem;
}